body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  overflow-x: hidden;
  background-color: #eee;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

paper-toolbar {
  background-color: /*#455ede;*/ #872657;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
paper-toolbar>.title {
  display: inline-block;
  margin-left: 2em;
}


paper-tabs {
  background-color: /*#5677fc*/#872657;
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}


paper-card > paper-material {
    width: 100%;
}
